<div id="<%= dom_id todo_list %>">
  <p>
    <strong>Title:</strong>
    <%= todo_list.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= todo_list.description %>
  </p>

  <p>
    <strong>Completed:</strong>
    <%= todo_list.completed %>
  </p>

</div>
