<p style="color: green"><%= notice %></p>

<h1>Todo Lists</h1>

<div id="todo_lists">
  <% @todo_lists.each do |todo_list| %>
    <%= render todo_list %>
    <p>
      <%= link_to "Show this todo list", todo_list %>
    </p>
  <% end %>
</div>

<%= link_to "Add new list", new_todo_list_path %>
