<p style="color: green"><%= notice %></p>

<%= render @todo_list %>
<br>
<div>
  <%= link_to "Edit", edit_todo_list_path(@todo_list), class:"btn btn-secondary" %>
  <%= link_to "Back", todo_lists_path, class:"btn btn-secondary" %>
</div>
